@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Biryani';
    src: url('../../assets/fonts/Biryani-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}  

@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
 
@font-face {
    font-family: 'Inter';
    src: url('../../assets/fonts/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* handle ketika display mobile terdapat space di sebelah kanan karena conflict dengan aos */
@media (max-width: 1024px) {
    body > * {
      overflow-x: hidden;
    }
}
  

div.main-nav li.relative > a::after,
div.mobile-menu-list li span::after {
    content: '';
    width: 9px;
    height: 9px;
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 4px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}

.main-nav li.relative > a:hover::after {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
}

div.half-circle-top > div {
    margin-top: calc(100vh - 35vh);
}

div.half-circle-bottom > div {
    margin-top: calc(20vh);
}